<div class="login-img">
  <div class="form-container" id="form-container">
    <h2 class="dashboard-h display-6 text-center" style="color: white;">Add a new car to the fleet</h2>
    <form action="/admin/fleet/add" method="POST">
      <div class="card card-body form-col" id="card-background">
        <div class="form-group">
          <label for="make">Make:</label>
          <input type="text" id="make" name="make" required>
        </div>
        <div class="form-group">
          <label for="model">Model:</label>
          <input type="text" id="model" name="model" required>
        </div>
        <div class="form-group">
          <label for="year">Year:</label>
          <input type="number" id="year" name="year" required>
        </div>
        <div class="form-group">
          <label for="color">Color:</label>
          <input type="text" id="color" name="color" required>
        </div>
        <div class="form-group">
          <label for="carType">Car Type:</label>
          <select id="carType" name="carType" required>
            <option selected>Choose...</option>
            <option value="Sedan">Sedan</option>
            <option value="SUV">SUV</option>
            <option value="Hatchback">Hatchback</option>
            <option value="Coupe">Coupe</option>
            <option value="Convertible">Convertible</option>
            <option value="Sports Car">Sports Car</option>
          </select>
        </div>
        <div class="form-group">
          <label for="mileage">Mileage:</label>
          <input type="number" id="mileage" name="mileage" value="0">
        </div>
        <div class="form-group">
          <label for="features">Features:</label>
          <input type="text" id="features" name="features">
        </div>
        <div class="form-group">
          <label for="numberOfSeats">Number of Seats:</label>
          <input type="number" id="numberOfSeats" name="numberOfSeats" required>
        </div>
        <div class="form-group">
          <label for="fuelType">Fuel Type:</label>
          <select class="custom-select" id="fuelType" name="fuelType" required>
            <option selected>Choose...</option>
            <option value="Gasoline">Gasoline</option>
            <option value="Diesel">Diesel</option>
            <option value="Electric">Electric</option>
            <option value="Hybrid">Hybrid</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="registration">Registration:</label>
          <input type="text" id="registration" name="registration" required>
        </div>
        <div class="custom-control custom-checkbox" id="checkbox">
          <label for="customCheck1" class="custom-control-label">Automatic Transmission:</label>
          <input type="checkbox" class="custom-control-input" id="customCheck1" name="isAutomatic" value="true">

        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL:</label>
          <input type="text" id="imageUrl" name="imageUrl">
        </div>
        <div class="buttons">
          <button type="submit">Add Car</button>
        </div>
    </form>
  </div>
</div>