<div class="dashboard-img d-flex">
  <div class="d-flex flex-wrap gap-4 justify-content-around align-items-start pt-5">
    <div class="dashboard-card d-flex flex-column justify-content-center align-items-stretch">
      <div class="forms-card-header">
        <a href="/admin/fleet" class="linked-cards">
          <h3>Car Management</h3>
      </div>
      <div class="card-body forms-card-body border-top" id="admin-dashboard-img">
        <img src="../images/carManagement.png" style="width: 100%; height: auto">
      </div>
      </a>
    </div>
    
    <div class="dashboard-card d-flex flex-column justify-content-center align-items-stretch">
      <div class="forms-card-header">
        <a href="/admin/users" class="linked-cards">
          <h3>User Management</h3>
      </div>
      <div class="card-body forms-card-body border-top" id="admin-dashboard-img">
        <img src="../images/userManagement.png" style="width: 100%; height: auto">
      </div>
      </a>
    </div>