<h2>My Account</h2>

<div class="card-container card card-body">
    <p>First Name: <%- user.firstName %></p>
</div>
<div class="card-container card card-body">
    <p>Last Name: <%- user.lastName %></p>
</div>
<div class="card-container card card-body">
    <p>E-Mail: <%- user.email %></p>
</div>
<div class="card-container card card-body">
    <p>Company: <%- user.company %></p>
</div>

<div class="card-container card card-body">
    <a href="/my-account/update">
        <button>Change my Details</button>
    </a>
</div>