<div class="dashboard-img pt-4">
  <div class="form-container mt-0 ">
    <h2 class="dashboard-h display-6 text-center">My Profile</h2>

    <div class="card card-body form-row" id="card-background">
      <div class="form-group col-md-6">
        <label>First Name:
          <p><%- user.firstName %></p>
        </label>
      </div>
      <div class="col">
        <label>Last Name:
          <p><%- user.lastName %></p>
        </label>
      </div>
    </div>
    <div class="card card-body" id="card-background">
      <label>E-Mail:
        <p><%- user.email %></p>
      </label>
    </div>
    <div class="card card-body" id="card-background">
      <label>Company:
        <p><%- user.company %></p>
      </label>
    </div>

    <div class="buttons">
      <div>
        <a href="/profile/my-account/update">
          <button class="btn btn-primary" id="car-button">Change my Details</button>
        </a>
      </div>
      <div>
        <a href="/profile/my-account/delete" onclick="return confirm('Are you sure you want to delete this item?');">
          <button class="btn btn-primary" id="car-button">Delete my Account</button>
        </a>
      </div>
    </div>
  </div>
</div>