<div class="dashboard-img">
  <div class="d-flex flex-wrap gap-4 justify-content-around align-items-start pt-5">
    <div class="dashboard-card d-flex flex-column justify-content-center align-items-stretch">
      <div class="forms-card-header">
        <a href="/profile/my-account" class="linked-cards">
          <h3>My Account</h3>
      </div>
      <div class="card-body forms-card-body border-top" id="admin-dashboard-img">
        <img src="../images/account.png" style="width: 100%; height: auto">
      </div>
      </a>
    </div>

    <div class="dashboard-card d-flex flex-column justify-content-center align-items-stretch">
      <div class="forms-card-header">
        <a href="/cars/request" class="linked-cards">
          <h3>Request a Car</h3>
      </div>
      <div class="card-body forms-card-body border-top" id="admin-dashboard-img">
        <img src="../images/carRequest.png" style="width: 100%; height: auto">
      </div>
      </a>
    </div>

    <div class="dashboard-card d-flex flex-column justify-content-center align-items-stretch">
      <div class="forms-card-header">
        <a href="/cars/reservations" class="linked-cards">
          <h3>My Reservations</h3>
      </div>
      <div class="card-body forms-card-body border-top" id="admin-dashboard-img">
        <img src="../images/history.png" style="width: 100%; height: auto">
      </div>
      </a>
    </div>
  </div>
</div>
