<div class="position-absolute top-50 start-50 translate-middle">
  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <form action="/auth/login" method="POST">
        <h5 class="card-title text-center">LOGIN</h5>
        <div class="input-group mb-3 mt-3">
          <input type="text" name="email" required class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-4">
          <input type="password" name="password" required class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-2 btn-sm">Sign in</button>
        <a href="/auth/signup" class="btn btn-primary btn-block mb-4 btn-sm" role="button">New here?</a>
        </form>
    </div>
  </div>
</div>




<!-- 
<div id="login-screen">
  <div>
    <form action="/auth/login" method="POST" >
        <h1>Login</h1>
        <label>
          E-Mail
          <input type="email" name="email" required>
        </label>
        <label>
          Password
          <input type="password" name="password" required>
        </label>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </div>
   -->