<div id="login-screen">
    <h2>Login</h2>
    <div>
      <form  class="signIn" action="/auth/login" method="POST">
        <label>
          E-Mail
          <input type="email" name="email" required>
        </label>
        <label>
          Password
          <input type="password" name="password" required>
        </label>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </div>
  