<div class="forms-container d-flex justify-content-center align-items-center h-100">
  <div class="d-flex shadow mb-5 bg-white rounded" style="min-width:50%; height:65%">
    <div class="login-img" style="width:50%">
    <h4>BizWheels</h4>
  </div>
    <div class="login-form d-flex flex-column justify-content-center align-items-stretch" style="width:50%">
      <div class="forms-card-header">
        <h3>Sign Up</h3>
      </div>
      <div class="card-body forms-card-body">
        <form action="/auth/signup" method="POST" class="d-flex flex-column" style="width: 70%">
          <div class="input-group form-group mb-2 mt-3">
            <input type="text" name="firstName" required class="form-control" placeholder="First Name">
          </div>
          <div class="input-group form-group mb-2">
            <input type="text" name="lastName" required class="form-control" placeholder="Last Name">
          </div>
          <div class="input-group form-group mb-2">
            <input type="email" name="email" required class="form-control" placeholder="E-Mail">
          </div>
          <div class="input-group form-group mb-4">
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <div class="d-flex justify-content-center">
            <input type="submit" value="Submit" class="login-btn btn btn-sm mb-3">
          </div>
        </form>
      </div>
      <div class="forms-card-footer">
        <div class="d-flex justify-content-center links">
          Already have an account?<a href="/auth/login">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>