<div class="container text-center mt-5 d-flex justify-content-center">
  <video id="bgvid" playsinline autoplay muted>
    <source src="/images/LandingPage.mp4" type="video/mp4" />
  </video>


  <div class="welcome-form">
    <div class="d-flex flex-column justify-content-center align-items-stretch ">
      <div class="forms-card-header">
        <h3>Welcome to BizWheels</h3>
      </div>
      <div class="card-body forms-card-body border-top">
        <form action="/auth/login">
          <div class="d-flex justify-content-center mt-4">
            <input type="submit" value="Already a Member?" class="index-btn btn btn-sm mb-3">
          </div>
        </form>

        <form action="/auth/signup">
          <div class="d-flex justify-content-center mb-4">
            <input type="submit" value="New here?" class="index-btn btn-sm btn mb-4">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>