<h1>Welcome to BizWheels</h1>
<div>
    <h3>New here?</h3>

    <div id="sign-up-screen">
        <h2>Sign-Up</h2>
        <div>
        <form>
            <label>
                First Name
                <input name="firstName" required>
            </label>
            <label>
                Last Name
                <input name="lastName" required>
            </label>
            <label>
                E-Mail
                <input type="email" name="email" required>
            </label>
            <label>
                Password
                <input type="password" name="password" required>
            </label>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </div>
</div>