<div class="container text-center mt-5">
  <video id="bgvid" playsinline autoplay muted>
    <source src="/images/LandingPage.mp4" type="video/mp4" />
  </video>
  <h1>Welcome to BizWheels</h1>
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <h3>Already a member?</h3>
      <form action="/auth/login" class="mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>New here?</h3>
      <form action="/auth/signup" class="mb-3">
        <button type="submit" class="btn btn-primary">Sign-Up</button>
      </form>
    </div>
  </div>
</div>
