<h1>Welcome to BizWheels</h1>
<div>
  <h3>Already a member?</h3>
  <div>
    <form action="/auth/login">
      <button type="submit">Login</button>
    </form>
  </div>


  <h3>New here?</h3>
  <div>
    <form action="/auth/signup">
      <button type="submit">Sign-Up</button>
    </form>
  </div>
</div>