body {
  margin: 0;
  height: 100vh;
  overflow: auto;
  /* background: url('fallback.jpg') no-repeat; */
  background-size: cover;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
}

#bgvid {
  position: fixed;
  top: 58%;
  left: 50%;
  /* min-width: 25%; */
  /* min-height: 25%; */
  width: 102%;
  height: 82%;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  opacity: 1;
  animation: fadeOut 3s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1
  }

  to {
    opacity: 0.4
  }
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  background-color: #202326;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: white;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 16px;
  margin-right: 20px;
}

#navbar-nav {
  display: flex;
  flex-direction: row;
}

.nav-link:hover {
  color: #796f6f;
}

.form {
  display: flex;
  flex-direction: row;
}

/* #form-label {
 
  text-wrap: nowrap;

} */

#car-button {
  background-color: rgb(199, 82, 82);
  border: none;
}

#car-button:hover {
  background-color: rgb(158, 146, 146);
  border: none;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.card-image {
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.description {
  display: flex;
  flex-direction: column;
  
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.card-text ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.card-text li {
  margin-bottom: 5px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6c757d9e;
  /* --bs-btn-border-color: #0d6efd; */
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #495057;
  /* --bs-btn-hover-border-color: #0a58ca; */
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

btn {
  --bs-btn-padding-x: 4.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  /* --bs-btn-line-height: 1.5; */
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid #6c757d5e;
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.admin-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top:10px;
}



.linked-cards {
  text-decoration: none;
  color: black;
}

.filter-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-right: 15px;
}

.filter-container label {
  display: inline-block;
  margin-right: 10px;
  color: rgb(209, 99, 99);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.filter-container select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.filter-container #filterButton {
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 60px;
}

.filter-container #filterButton:hover {
  background-color: #0056b3;
}

.filter-container #filterButton:focus {
  outline: none;
}

.userStatus {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.userStatus p{
  margin-right: 10px;
}

.car-image {
  width: 250px; 
  height: 150px; 
  object-fit: scale-down;
}

.cars {
  margin-right: 20px;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: rgb(0 0 0 / 22%); */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border-radius: 4px;
  position: relative;
  top: 17%;
}

h2 {
  margin-top: 0;
  
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: #007bff;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.button-admin{
  display: flex;
  flex-direction: row;
}
.button-admin button {
  margin-right: 12px;
}
/* FORMS */
html,
body {
  height: 100%;
}

.forms-container {
  background-color: rgba(139, 177, 187, 0.6);
  height: 100%;
  align-content: center;
}

.forms-card {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.forms-card-header h3 {
  color: rgb(249, 248, 248);
  margin: 0;
  background-color: rgb(139, 176, 187);
  padding: 15px;
  text-align: center;
}

.forms-card-body {
  background-color: rgba(139, 176, 187, 0.6);
}

.forms-card-footer {
  color: rgb(249, 248, 248);
  background-color: rgb(139, 176, 187);
  padding: 15px;
}

.login-img {
  background-image: url('../images/LoginPage_cropped.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
    color: white;
  align-items: stretch;
  padding: 20px;
  
}

.login-form {
  background-color: white;
}

.welcome-form {
  background-color: rgba(139, 176, 187, 0.5);
  border-radius: 10px;
  color: rgb(90, 90, 90);
  overflow: hidden;
  width: 35%;
  opacity: 0;
  animation: fadeIn 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;

}

.login-btn {
  width: 50%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.index-btn {
  align-self: stretch;
  min-width: 300px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  color: white !important;
}

.dashboard-img {
  background-image: url('../images/LoginPage_cropped.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 100%;
}

.dashboard-h {
  font-weight: 600;
  color: white;
}

.dashboard-card {
  background-color:rgba(139, 176, 187, 0.9);
  border-radius:5px;
  overflow: hidden;
  width: 30%;
  min-width: 100px;
  min-height: 200px;
}
  
  .links{
  color: white;
}

.links a {
  margin-left: 4px;
}

.signIn {
  display: flex;
  flex-direction: column;
}


.error-message {
  color: red;
  font-weight: 500;
  font-size: 0.7rem;
  text-align: center;
}

#admin-dashboard-img {
  object-fit: contain;
  padding: 20px;
}

#table{
 width:30%;
}


/*forms*/

.form-container {
  background-color: rgba(139, 177, 187, 0.6);
  align-content: center;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container label {
  display: inline;
  color:#202326;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container .form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-container .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-container .buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(199, 82, 82);
  cursor: pointer;
}

.form-container .buttons a {
  text-decoration: none;
}

#card-background{
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#form-container{
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

#checkbox {
  display: flex;
  align-items: center;
}

#checkbox label {
  flex: 1;
  white-space: nowrap;
  margin-right: 10px;
  
}

#checkbox input {
    align-self: center;
}
