<h2>Car Request Form</h2>

<form action="/cars/request" method="POST">
  <label for="date">Start date:</label>
  <input type="date" id="startDate" name="startDate" required>

  <label for="date">End date:</label>
  <input type="date" id="endDate" name="endDate" required>

  <button type="submit">Check availability</button>
</form>

